.users {
    padding: 1rem;
}
.users__items {
    display: grid;
    gap: 1rem;
}
.user__item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    border: 1px solid grey;
    padding: 1rem;


    .user__photo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 0.5rem;

        img {
            object-fit: cover;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
        }
    }
}

.user__info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    .user__info-name {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .user__info-status {
        display: grid;
        align-self: end;
    }

    .user__info-country {
        display: grid;
        justify-content: end;
        font-size: 1.3rem;
        font-weight: 700;
    }

    .user__info-city {
        display: grid;
        justify-content: end;
        align-self: end;
        font-size: 1rem;
        font-weight: 700;
    }
}