.profile {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    width: 100%;
    grid-area: main;
    background-color: #fff;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid #9c9c9c;
}