.App-header {
    display: grid;
    background-color: #fff;
    grid-area: header;
    border: 1px solid #9c9c9c;

    a {
        height: 3em;
        width: 3em;

        img {
            height: 100%;
            width: 100%;
        }
    }
}