* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;

}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: #CECECE;
}

.title-h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.App {
  max-width: 1200px;
  display: grid;
  grid-template-rows: auto 10fr 1fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  gap: 1rem;
  margin: 0 auto;
}