.personal {
    display: grid;

    img {
        object-fit: cover;
        width: 100%;
        height: 15em;
        border: 0.25rem solid #cecece;
    }
}

.personal__inner {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 5fr;
    grid-template-areas:
        "avatar info";
    gap: 0.5rem;
    padding: 0.5rem;

    .personal__avatar {
        grid-area: avatar;
        width: 7em;
        height: 7em;
        border: 0.25rem solid #393939;
    }

    .personal__info {
        grid-area: info;
    }
}